#Minecraft server properties
#Fri May 21 00:29:09 UTC 2021
enable-jmx-monitoring=false
rcon.port=25575
level-seed=
gamemode={{ game_mode }}
enable-command-block=true
enable-query=false
generator-settings=
level-name=world
motd={{ minecraft_server_motd }}
query.port=25565
pvp={{ pvp }}
generate-structures=true
difficulty={{ server_difficulty }}
network-compression-threshold=256
max-tick-time=60000
use-native-transport=true
max-players={{ max_players }}
online-mode=true
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance=10
max-build-height=256
server-ip=
allow-nether=true
server-port=25565
enable-rcon=false
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack=
entity-broadcast-range-percentage=100
rcon.password=
player-idle-timeout=0
force-gamemode=false
rate-limit=0
hardcore=false
white-list={{ server_whitelist }}
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist=false
spawn-protection=16
resource-pack-sha1=
max-world-size=29999984

